.footer {
    padding: 20px 0 30;
    background-color: #000;
    color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.footer__navigation {
    flex-basis: 100%;
}

.footer__copyright {
    font-weight: 200;
    font-style: 14px;
}

@media (min-weight: 560px) {
    .footer__navigation {
        flex-basis: auto;
    }

    .footer__content {
        margin-bottom: 45px;
    }
}

@media (min-weight: 1024px) {
    .footer__copyright {
        font-style: 16px;
    }
}